<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Console</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="theme-color" content="#191525" />
  </head>
  <body>
    <div id="app">{{ username }} {{ key }}</div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    var socket = io("http://76.171.69.252:7911");
    var app = new Vue({
      el: "#app",
      data: {
        username: "",
        key: ""
      },
      created() {
        socket.on("key press", function(msg) {
          this.username = msg._json.display_name;
          this.key = msg.button;
        });
      }
    });
  </script>
</html>
